.MainContainer{
  min-height: 100vh;
  background-color: hsl(0, 0%, 1%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SubContainer{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}

.SectionContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.ParaStyles{
  font-size:16px;
  color: #fff;
  text-transform: capitalize;
}

.InputContainer{
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.InputStyles{
  border: 1px solid #fff;
  padding: 10px;
  width: 40%;
  background-color: #030303;
  text-align: center;
  border-radius: 12px;
}

.InputStyles:focus{
  outline: none;
}

.RadioLabels{
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 25px;
}

.AmountContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 260px;
}

.PriceContainer{
  color: #fff;
  border: 1px solid #fff;
  width: 50px;
  height: 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}